<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<KMPServerUpd.xml>

  <Enabled>yes</Enabled> <!-- yes / no -->

  <version>0.2</version>

  <changes>
Версия #0.2, от 02.09.17:
 • Обновлен мод Лазерная указка;
 • Добавлены прицелы;
 • Исправлены мелкие ошибки.
  </changes>

  <forumTheme>https://bitbucket.org/HatsanMod/chit24.ru/downloads/Hatsan%20MP%20(0.2).exe</forumTheme>
  <downloadLink>https://bitbucket.org/HatsanMod/chit24.ru/downloads/Hatsan%20MP%20(ver).exe</downloadLink>

</KMPServerUpd.xml>